<%- include("partials/header") %>
<section class="container-fluid mx-0 px-0">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="text-center centered">
				<h2>WhatWilliam</h2>
				<p class="mb-4">First time git user</p>
				<img id="dp" class="mx-auto d-block" src="https://images.unsplash.com/photo-1572477428036-780afd37763f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80">
			</div>
		</div>
	</div>
</section>

<section class="container-fluid px-0 content">
	<div class="row align-items-center">
		<div class="col-lg-6 text-center order-2 order-lg-1 mt-5 mt-lg-0 px-0">
			<div class="row justify-content-center">
				<div id="about" class="col-10 col-lg-8">
					<h2>About Me</h2>
					<p>
						Hello, I am WhatWilliam, a software engineering freelancer based in California, US
					</p>
					<p class="mt-4">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
					</p>
					<p>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
					</p>
					<p>
						Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).	
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 order-1 order-lg-2 px-0">
			<img class="img-fluid mx-auto d-block" src="https://images.unsplash.com/photo-1525921429624-479b6a26d84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		</div>
	</div>
</section>

<section class="container-fluid px-0 content">
	<div class="row align-items-center">
		<div class="col-lg-6 px-0">
			<img class="img-fluid mx-auto d-block" src="https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		</div>
		<div id="skills" class="col-lg-6 text-center mt-5 mt-lg-0 px-0">
			<h2>Skills</h2>
			<p>some skills accumulated through the course of my studies:</p>
			<ul class="skill">
				<li>HTML5, CSS3</li>
				<li>Javascript, Jquery</li>
				<li>Node Js, Express</li>
				<li>MongoDB, MySQL</li>
				<li>Bootstap4</li>
				<li>PHP Python</li>
			</ul>
		</div>
	</div>
</section>

<section class="container-fluid px-0">
	<div class="row">
		<div id="socials" class="col-12 text-center pt-5">
			<a href="https://www.instagram.com/whatwilliam/?hl=en"><i class="fab fa-instagram icon mr-3"></i></a>
			<a href="https://www.linkedin.com/company/williams-company/"><i class="fab fa-linkedin-in icon mr-3"></i></a>
			<a href="https://github.com/whatwilliam"><i class="fab fa-github icon"></i></a>
			<p class="mt-3">Crafted with <i class="far fa-heart"></i> by WhatWilliam</p>
		</div>
	</div>
</section>
<%- include("partials/footer") %>